{
  "presets": ["env", "react", "stage-0"],
  "plugins": [
    [
      "babel-plugin-webpack-loaders",
      {
        "config": "./webpack/webpack.config.babel.js",
        "verbose": false,
      }
    ]
  ]
}
