:local {
  .header {
    background-color: #2f4f4f;
    border-bottom: 1px solid black;
    height: 130px;
    position: relative;
    width: 100%;
  }

  .logo,
  .nav {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  .logo {
    background: url('../../../images/logo.svg') no-repeat;
    height: 58px;
    width: 247px;
    top: 20px;
  }

  .nav {
    bottom: 10px;
  }

  .navLink {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .navLink:not(:last-child) {
    padding-right: 15px;
    position: relative;
  }
}
