:local {
  .helloWorld {
    text-align: center;

    h1 {
      background: black;
      color: white;
      padding: 40px 0;
      margin-bottom: 20px;
    }

    button {
      margin-bottom: 20px;
    }

    img {
      width: 70px;
    }
  }
}
