<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Universal Example</title>
  </head>

  <body>
    <div id="main"><%- markup -%></div>
    <script src="/dist/app.bundle.js"></script>
  </body>

</html>
