<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Universal Example</title>
    {% include "./head.njk" %}
    <link rel="stylesheet" href="/styles.bundle.css">
  </head>

  <body>
    <div id="main">{{ markup }}</div>
    <script>
      window.__PRELOADED_STATE__ = {{ preloadedState }};
    </script>
    <script src="/app.bundle.js"></script>
  </body>

</html>
