{% extends "./base.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles.bundle.css">
{% endblock %}

{% block main %}
    <div id="main">{{ markup }}</div>
    <script>
      window.__PRELOADED_STATE__ = {{ preloadedState }};
    </script>
{% endblock %}
