<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Universal Example</title>
    {% include "./head.njk" %}
  </head>

  <body>
    <div id="main"></div>
    <script src="/app.bundle.js"></script>
  </body>

</html>
