:local {
  .toDo {
    max-width: 400px;
    margin: 30px auto;
    text-align: center;

    h1, h3 {
      margin-bottom: 15px;
    }
  }

  .items {
    margin: 0 auto 30px;
    max-width: 200px;
  }

  .item {
    margin-bottom: 10px;
    text-align: left;
    word-wrap: break-word;
  }
}
